{% extends "template.twig" %}

{% block pageclass %}admin user
{% endblock %}

{% block content %}
	<div class="section-content">
		{% if nuser.permission_level == 0 %}
			<div class="notice">
				<h6>
					<i class="fas fa-exclamation-circle"></i>
					This user has not been approved.
					<a class="nanobtn nanobtn-sm nanobtn-green" href="/admin/users/{{ nuser.id }}/approve">Approve</a>
					<a class="nanobtn nanobtn-sm nanobtn-red" href="/admin/users/{{ nuser.id }}/delete">Delete</a>
				</h6>
			</div>
		{% endif %}
		<div class="card mb-3">
			<div class="row no-gutters" id="upload-image">
				<div>
					<img class="card-img" src="/images/users/{{ nuser.id }}.png?{{ random() }}" onerror="this.src='/images/missing.png'">
				</div>
				<div>
					<div class="card-body">
						<h5 class="card-title">Change Image</h5>
						<form class="needs-validation mb-0" action="/admin/users/{{ nuser.id }}/image" method="post" enctype="multipart/form-data" novalidate>
							<input type="hidden" name="location" value="users">
							<div class="input-group mb-3">
								<div class="custom-file">
									<input type="file" name="image" class="custom-file-input" id="imageInput" accept=".png,.jpg" required>
									<label class="custom-file-label" for="imageInput">Choose file</label>
								</div>
							</div>
							<button class="nanobtn nanobtn-sm" type="submit">Upload</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3">
			<div class="row no-gutters" id="upload-image">
				<div>
					<img class="card-img" src="/images/institutions/{{ nuser.id }}.png?{{ random() }}" onerror="this.src='/images/missing.png'">
				</div>
				<div>
					<div class="card-body">
						<h5 class="card-title">Change Institution Image</h5>
						<form class="needs-validation mb-0" action="/admin/users/{{ nuser.id }}/image" method="post" enctype="multipart/form-data" novalidate>
							<input type="hidden" name="location" value="institutions">
							<div class="input-group mb-3">
								<div class="custom-file">
									<input type="file" name="image" class="custom-file-input" id="imageInput" accept=".png,.jpg" required>
									<label class="custom-file-label" for="imageInput">Choose file</label>
								</div>
							</div>
							<button class="nanobtn nanobtn-sm" type="submit">Upload</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<button class="nanobtn nanobtn-red mb-2" data-toggle="modal" data-target="#reset-password">Reset Password</button>
		<form class="needs-validation" action="/admin/users/{{ nuser.id }}" method="post" enctype="multipart/form-data" novalidate>
			<input name="id" type="hidden" value="{{ nuser.id }}">
			<input name="method" type="hidden" value="PATCH">
			<div class="form-group">
				<label>Permission Level</label>
				<div class="spacer"></div>
				<input type="radio" name="permission_level" id="disabled" {% if nuser.permission_level == 0 %} checked {% endif %} value="0">
				<label for="disabled">Disabled</label>
				<div class="spacer"></div>
				<input type="radio" name="permission_level" id="user" {% if nuser.permission_level == 1 %} checked {% endif %} value="1">
				<label for="user">User</label>
				<div class="spacer"></div>
				<input type="radio" name="permission_level" id="editor" {% if nuser.permission_level == 2 %} checked {% endif %} value="2">
				<label for="editor">Editor</label>
				<div class="spacer"></div>
				<input type="radio" name="permission_level" id="admin" {% if nuser.permission_level == 3 %} checked {% endif %} value="3">
				<label for="admin">Admin</label>
				<div class="spacer"></div>
				<input type="radio" name="permission_level" id="superadmin" {% if nuser.permission_level == 4 %} checked {% endif %} value="4">
				<label for="superadmin">Super Admin</label>
			</div>
			<div class="form-group">
				<label>Hidden</label>
				<div class="spacer"></div>
				<input type="radio" name="hidden" id="not_hidden" {% if nuser.hidden == 0 %} checked {% endif %} value="0">
				<label for="not_hidden">Not Hidden</label>
				<div class="spacer"></div>
				<input type="radio" name="hidden" id="hidden" {% if nuser.hidden == 1 %} checked {% endif %} value="1">
				<label for="hidden">Hidden</label>
			</div>
			<div class="form-group">
				<label>First Name</label>
				<input name="firstname" type="text" class="form-control" value="{{ nuser.firstname }}" required>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input name="lastname" type="text" class="form-control" value="{{ nuser.lastname }}" required>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Username</label>
				<input name="username" type="text" class="form-control" value="{{ nuser.username }}" required>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input name="email" type="text" class="form-control" value="{{ nuser.email }}" required>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Website URL</label>
				<input name="website" type="text" class="form-control" value="{{ nuser.website }}">
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Institution</label>
				<input name="institution" type="text" class="form-control" value="{{ nuser.institution }}">
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Expertise</label>
				<textarea name="expertise" class="form-control">{{ nuser.expertise }}</textarea>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Institution's Instrumentation</label>
				<textarea name="instrumentation" class="form-control">{{ nuser.instrumentation }}</textarea>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<div class="form-group">
				<label>Background & Research Interests</label>
				<textarea name="biography" class="form-control">{{ nuser.biography }}</textarea>
				<div class="invalid-feedback">
					Please enter a value.
				</div>
			</div>
			<button class="nanobtn" type="submit">Update User</button>
		</form>
	</div>
{% endblock %}

{% block modals %}
	<div class="modal fade" id="reset-password" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Reset Password</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="mb-0" action="/admin/users/{{ nuser.id }}/emailpassword" method="post">
						<p>This will send the user an email with a new password.</p>
						<button class="nanobtn" type="submit">Send Email</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script>
		$(document).ready(function () {
			bsCustomFileInput.init();
		});
	</script>
{% endblock %}
