{% extends "template.twig" %}

{% block pageclass %}admin posts
{% endblock %}

{% block content %}
	<div class="section-content">
		<div class="nanolist white-set">
			<div class="table-header">
				<div class="header-left">
					<h5>Rows
						<a class="nanobtn nanobtn-sm" href="/admin/pages/{{ page.id }}/rows/new">New Row</a></h5>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-sm" cellspacing="0" width="100%">
					<tbody>
						{% for row in rows %}
							<tr>
								<td>
									<a class="nlink" href="/admin/pages/{{ page.id }}/rows/{{ row.id }}">{{ row.id }}</a>
								</td>
								<td>{{ row.order }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
